<div class="col-md-12 wrapper">
  <div class="col-md-2 col-lg-1 photo-post">
    <img src="http://static.pechakucha.org/pechakucha/uploads/user/avatar/519cf31a4f5c29ed14000014/profile_avatar_500f398ceef6_128.png" alt="">
  </div>
  <div class="col-md-10 col-lg-11 text-post">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 col-lg-7">
            <span>Adam Levin</span>
          </div>
          <div class="col-md-3 col-lg-2">
            <span><i class="fa fa-map-marker" aria-hidden="true"></i>Tel Aviv</span>
          </div>
          <div class="col-md-4 col-lg-3">
            <span>Today, 12:34</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 msg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet exercitationem fugit illo ipsam laboriosam libero nobis officia provident quasi sit?</p>
      <div class="row">
        <div class="col-md-12 like">
          <p>
            <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</span>
            <span><i class="fa fa-comment-o" aria-hidden="true"></i>Comment</span>
            <span class="dotted"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
          </p>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12 who-like">
  <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Liked by Matan and 37 others</span>
</div>
<div class="col-md-12 comments">
  <div class="row">
    <div class="col-md-2 col-lg-1">
      <img src="http://static.pechakucha.org/pechakucha/uploads/user/avatar/519cf31a4f5c29ed14000014/profile_avatar_500f398ceef6_128.png" alt="">
    </div>
    <div class="col-md-7 col-lg-8">
      <span>Adam Levin</span><br>
      <span><i class="fa fa-map-marker" aria-hidden="true"></i>Tel Aviv</span>
    </div>
    <div class="col-md-3 col-lg-3">
      <span>Today, 12:43</span>
    </div>
    <div class="col-md-12 text-comments">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi deleniti deserunt eaque earum eius esse in inventore laborum minus placeat provident quisquam, quos rem, similique tenetur veniam! Accusamus beatae consequuntur, cumque harum nulla possimus repellendus rerum tempore vel veritatis?</p>
    </div>
  </div>
</div>
<div class="col-md-12" style="padding: 0;margin-bottom: 30px">
  <hr>
</div>

