<div class="col-md-6 room">
  <h2>Book a room</h2>
  <div class="row">
    <div class="col-md-6 ">
      <span class="select-label">Where</span><br>
      <select>
        <option>New york</option>
        <option>Berlin</option>
        <option>Kiev</option>
      </select>
    </div>

    <div class="col-md-6 floor">
      <select>
        <option>Floor:All</option>
        <option>Floor:1st</option>
        <option>Floor:2nd</option>
        <option>Floor:3rd</option>
      </select>
    </div>

    <div class="col-md-6">
      <span class="select-label">When</span><br>
      <input type="text"  class="datepick" placeholder="Click to enter date">
    </div>

    <div class="col-md-12 info">
      <p>Select a Room</p>
      <p>Select time frame by dragging you mouse over the time slot or select a start time </p>
    </div>

    <item-room></item-room>
    <item-room></item-room>
    <item-room></item-room>

  </div>
</div>
<calendar></calendar>
