<div class="col-md-2 leftMenu">
    <div class="row">
      <div class="col-md-12 ">
        <h1><span>B</span>E ALL</h1>
        <p class="item">Home</p>
        <p class="item-bold" ><i class="fa fa-user-circle-o" aria-hidden="true"></i>Be Social</p>
        <p class="item">Events</p>
        <p class="item">Community Directory</p>

        <p class="item-bold" ><i class="fa fa-user" aria-hidden="true"></i>Be You</p>
        <p class="item">My Profile</p>
        <p class="item">My Company</p>
        <p class="item">Payments and Credit</p>

        <p class="item-bold"><i class="fa fa-university" aria-hidden="true"></i>Be Here</p>
        <p class="item">Room Schedule</p>
        <p class="item">Order Services</p>
        <p class="item">Guests</p>
        <p class="item">Facility Information</p>

        <p class="item-bold"><i class="fa fa-star" aria-hidden="true"></i>Be More</p>
        <p class="item">Our Professionals</p>
        <p class="item">Special Offers</p>
      </div>
    </div>
</div>

