.leftMenu
  background-color: #E4E4E4
  border-right: 3px solid #CDCDCD
  padding: 0
  font-family: 'Titillium Web', sans-serif
  min-height: 100vh

span
  font-family: 'Orbitron', sans-serif
h1
  color: #383938
  border-bottom: 2px solid #D8D8D8
  padding-bottom: 5px
  padding-left: 20px

//p
//  background-color: #fff
//  border-radius: 0 15px 15px 0
//  padding: 5px 0 5px 20px
//  color: #418EFF
//  font-weight: 700
//  font-size: 16px

p
  margin: 0
.item
  padding: 5px 0 5px 20px
  font-size: 19px
.item-bold
  font-weight: 700
  padding: 5px 0 5px 20px
  font-size: 22px
  margin-top: 10px
  i
    padding-right: 5px
