<div class="col-md-12 booked">
  <div class="row">
    <div class="col-md-3 photo">

    </div>
    <div class="col-md-9">
      <p>
        <span class="booked-room-header">Booked room</span>
        <span class="time ">12:30-14:30</span>
      </p>
      <span>Conference Room</span>
      <p>
        <span class="info-room"><i class="fa fa-map-marker" aria-hidden="true"></i>Room 210</span>
      </p>
      <p class="clearfix">
        <span class="info-room"><i class="fa fa-user" aria-hidden="true"></i>4 colleagues are attending</span>
      </p>
      <p class="under-buttons">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="first">+12</span>
        <span class="second">BC</span>
      </p>
    </div>
  </div>
</div>
