<div class="col-md-10 wrapper">
  <div class="row">
    <div class="col-md-12 picture-area">
      <i class="fa fa-camera" aria-hidden="true"></i><br>
      <a>+ Add Cover Picture</a>
    </div>
    <div class="col-md-12 add-block">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8 text-input">
              <input type="text" placeholder="+ Enter Headline Here ">
            </div>
            <div class="col-md-4">
              <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>+Add Location</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <a href=""><i class="fa fa-clock-o" aria-hidden="true"></i>+ Add Time</a>
            </div>
            <div class="col-md-1">
              <span class="photo-post"></span>
            </div>
            <div class="col-md-3">
              <span class="atn">Created By</span><br>
              <span>Adam Smith</span>
            </div>
            <div class="col-md-4">
              <button><span><i class="fa fa-upload" aria-hidden="true"></i>Publish Event</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 under-post">
      <div class="row">
        <div class="col-md-8 info">
          <p class="under-bold">More Info</p>
          <input type="text" placeholder="+ Enter Text Here">
          <div class="row">
            <div class="col-md-12 tags">
              <p class="under-bold">Tags</p>
              <p>What this event is about</p>
              <input type="search" placeholder="Search Tags">
            </div>
          </div>
        </div>
        <div class="col-md-4 radio-block">
          <p class="under-bold">Invite</p>

          <input type="radio" class="radio" id="Beall" />
          <label for="Beall">BeAll</label><br>

          <input type="radio" class="radio" id="country" >
          <label for="country">All Country</label><br>

          <input type="radio" class="radio" id="city" >
          <label for="city"> All City</label><br>

          <input type="radio" class="radio" id="building" >
          <label for="building">All Building</label><br>

          <input type="radio" class="radio" id="team" >
          <label for="team">My Team</label><br>

          <input type="radio" class="radio" id="specific">
          <label for="specific">Select Specific</label><br>
        </div>
      </div>
    </div>
  </div>
</div>
