<div class="col-md-6 content">
  <div class="row">
    <div class="col-md-12 content-header">
      <div class="col-md-3"><span>Board:</span></div>
      <div class="col-md-3"><span>From:</span> My Location</div>
      <div class="col-md-3"><span>About:</span> All</div>
      <div class="col-md-3"><input type="search" placeholder="Search in board"></div>
      <home-post></home-post>
      <home-post></home-post>
      <home-post></home-post>
      <home-post></home-post>
      <home-post></home-post>
    </div>
  </div>
</div>
<calendar></calendar>
