<div class="col-md-6 content">
  <div class="row">
    <div class="col-md-12 content-header">
      <div class="col-md-2"><span>Board:</span></div>
      <div class="col-md-4 dropmenu1">
        <span>From:</span> My Location <i class="fa fa-angle-down" aria-hidden="true"></i>
        <div class="dropclick1">
          <ul>
            <li>My Location</li>
            <li>My City</li>
            <li>My Country</li>
            <li>All Location</li>
            <li>Select Location</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 dropmenu2">
        <span>About:</span> All <i class="fa fa-angle-down" aria-hidden="true"></i>
        <div class="dropclick2">
          <ul>
            <li>All</li>
            <li>General</li>
            <li>Events</li>
            <li>Jobs</li>
            <li>Questions</li>
            <li>Buying</li>
            <li>Looking For</li>
            <li>Recommendation</li>
            <li>Help</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 dropmenu"><input type="search" placeholder="Search in board"></div>
      <home-post></home-post>
      <home-post></home-post>
    </div>
  </div>
</div>
<calendar></calendar>
