<div class="col-md-12 wrapper">
  <div class="col-md-2 room-photo">

  </div>
  <div class="col-md-10 room-info">
    <span class="room-info-header">Big Conference Room</span>
    <span><i class="fa fa-map-marker" aria-hidden="true"></i>1st floor</span>
    <span><img src="https://cdn3.iconfinder.com/data/icons/glyph/227/Chair_1-128.png" alt="">15 seats</span>
    <span><i class="fa fa-info-circle" aria-hidden="true"></i>Tv, Speaker Phone, Whiteboard </span>
  </div>
  <div class="col-md-12 time-block">
    <span class="start-time">8</span><span class="start-time"></span><span class="start-time">9</span><span class="start-time"></span><span class="start-time">10</span><span class="start-time"></span><span>11</span><span></span><span>12</span><span></span><span>13</span><span></span><span>14</span><span></span><span>15</span><span></span><span>16</span><span></span><span>17</span><span></span><span>18</span><span></span><span>19</span><span></span><span>20</span><span></span>
  </div>
</div>

